:root {
    --text: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: var(--text);
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: #ababab;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.intro {
    text-align: center;
    margin: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.group h2 {
    margin: auto;
}

.project {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}

.project li {
    margin: 0.5rem;
    text-align: left;
}

ul .done:before {
    content: '\e052';
    margin-right: 0.5rem;
}
